
<%= simple_form_for [@load, Transaction.new] do |f| %> 
<%= f.error_notification %> 
<div class="row">
  <div class="col-sm-6">
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-money"></i></span>

      <%= f.input :expense_type, collection: Load::ExpenseType, label: false, placeholder: "Type" %> 
      <%= f.input :business_name, label: false, placeholder: "Business Name" %> 
      <%= f.input :debit, label: "Debit Amount" %>
      <%= f.input :credit, label: "Credit Amount" %>
      

    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-at"></i></span>
      <%= f.input :street, label: false, placeholder: "Street" %>
      <%= f.input :city, label: false, placeholder: "City" %>
      <%= f.input :state, collection: ApplicationRecord::States, 
        label: false, placeholder: "State" %>
      <%= f.input :zip, label: false, placeholder: "zip" %>
    </div>
  </div>
</div>
<%= f.button :submit, "Enter Transaction",
class: "btn btn-success btn-sm round"  %>

<% end %>