<% @load_origin_addresses.each do |origin| %> 
<% unless origin.address_category_id == 4 %>
<div class="col-sm-6">
  <div class="panel panel-default shadow">
    <div class="panel-heading">
      <h4>
        <% if origin.address_category_id == 1 %>
        <span class="label label-success round">
        Pick Up
        </span><br />
         </h4>

<h4>
        <% elsif origin.address_category_id == 2 %>
        <span class="label label-primary round">
        Delivery
        </span><br />
         </h4>

<h4>
        <% elsif origin.address_category_id == 3 %>
        <span class="label label-warning round"> 
        Pick Up & Delivery
        </span>  <br />
      </h4>

      <% end %>
      
    </div>
    <div class="panel-body">
      <address>
        <strong><%= origin.company %></strong><br>
        <%= origin.street %><br>
        <%= origin.city  %>, <%= origin.state  %>, <%= origin.zip  %><br>
        <small>Phone: </small><%= origin.phone  %><br />
        <small>Contact: </small><%= origin.contact  %><br />
      </address>

    </div>
    <div class="panel-footer">
      <h4>Date - Notes</h4>
<p><%= local_time(origin.pick_up_date, format:  '%B %e, %Y') %></p>
      <% if origin.notes.present? %>
      <strong>Notes</strong>
      <%= origin.notes %>  
      <% else %>
      No notes entered.
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% end %>