<p id="notice"><%= notice %></p>

<h1>Load Pdfs</h1>

<table>
  <thead>
    <tr>
      <th>Html</th>
      <th>Load</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @load_pdfs.each do |load_pdf| %>
      <tr>
        <td><%= load_pdf.html %></td>
        <td><%= load_pdf.load_id %></td>
        <td><%= link_to 'Show', load_pdf %></td>
        <td><%= link_to 'Edit', edit_load_pdf_path(load_pdf) %></td>
        <td><%= link_to 'Destroy', load_pdf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Load Pdf', new_load_pdf_path %>
